<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description></description>
    <display-name>Denglu</display-name>
    <servlet-name>Denglu</servlet-name>
    <servlet-class>servlet.Denglu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Denglu</servlet-name>
    <url-pattern>/Denglu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>servlet.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/VerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserServlet</display-name>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>servlet.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/SaveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiugaiServlet</display-name>
    <servlet-name>XiugaiServlet</servlet-name>
    <servlet-class>servlet.XiugaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiugaiServlet</servlet-name>
    <url-pattern>/XiugaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaozhuanServlet</display-name>
    <servlet-name>TiaozhuanServlet</servlet-name>
    <servlet-class>servlet.TiaozhuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaozhuanServlet</servlet-name>
    <url-pattern>/TiaozhuanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletServlet</display-name>
    <servlet-name>DeletServlet</servlet-name>
    <servlet-class>servlet.DeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServlet</servlet-name>
    <url-pattern>/DeletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletAllServlet</display-name>
    <servlet-name>DeletAllServlet</servlet-name>
    <servlet-class>servlet.DeletAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletAllServlet</servlet-name>
    <url-pattern>/DeletAllServlet</url-pattern>
  </servlet-mapping>
</web-app>